<h1>Lista de products</h1>
<section class="card-container">

  {{#each products}}
    <div class="card">
      <h1>{{this.title}}</h1>
      <h3>{{this.description}}</h3>
      <div class="category">
        <h5>category: {{this.category}}</h5>
        <h3>{{this.price}}usd$</h3>
      </div>
      <button class="delete-product" data-productid="{{this.id}}">Eliminar
        Producto</button>
    </div>
  {{/each}}
</section>
<script src="js/home.js"></script>