<h1>Lista de products</h1>
<section class="card-container">
  {{#each newList.payload}}
    <div class="card">
      <h1>{{this.title}}</h1>
      <h3>{{this.description}}</h3>
      <div class="category">
        <h5>category: {{this.category}}</h5>
        <h3>{{this.price}} usd$</h3>
      </div>
      <button class="add-cart" onclick="addToCart(`{{this._id}}`)">add to cart</button>
    </div>
  {{/each}}

</section>
<div class="prev-next">
  <a href="{{newList.prevLink}}" ><strong> &lt;&lt; Previous</strong></a>
  <a href="{{newList.nextLink}}" ><strong> Next &gt;&gt;</strong></a> 
</div>
<script src="js/products.js"></script>